.button {
	display: flex;
	width: max-content;
	justify-content: center;
	min-width: 300px;
	padding: 19px 100px;
	background-color: #fd8f1b;
	color: #ffffff;
	border-radius: 8px;
	font-family: Monserat;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.button:hover {
	background-color: #e6831a;
}
